{
  "openapi": "3.1.0",
  "info": {
    "title": "Document Processing API",
    "description": "API for processing PDF/image files into structured Markdown and optionally extracting structured data using schemas.",
    "version": "1.0.1"
  },
  "servers": [
    {
      "url": "https://api.trycardinal.ai"
    }
  ],
  "paths": {
    "/process": {
      "post": {
        "summary": "Process File",
        "description": "Convert PDF or image pages into clean, structured Markdown. Post-processing (barcodes, signatures, etc.) is off by default and, when enabled, will add latency.",
        "operationId": "processFile",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "PDF or image file to upload (required if no fileUrl)."
                  },
                  "fileUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "Publicly accessible URL of the file to process (required if no file)."
                  },
                  "post_processing_on": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enable advanced passes (e.g., barcode/signature detection). Note: Enabling this will increase latency."
                  },
                  "start_page": {
                    "type": "integer",
                    "default": 1,
                    "description": "Page number to start processing from."
                  },
                  "ephemeral": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true, results are not stored; any generated assets are short-lived."
                  },
                  "boundingBoxesParagraphs": {
                    "type": "boolean",
                    "default": true,
                    "description": "Controls granularity of returned text bounding boxes. If true, boxes are grouped per paragraph; if false, per word. (Does not affect barcode/signature boxes.)"
                  },
                  "markdown": {
                    "type": "boolean",
                    "default": false,
                    "description": "Controls table handling in output. By default, all content is returned as Markdown except tables which remain HTML to preserve structure. If true, tables are also converted to Markdown via markdownify (may cause formatting issues)."
                  }
                },
                "oneOf": [
                  {
                    "required": [
                      "file"
                    ]
                  },
                  {
                    "required": [
                      "fileUrl"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful document processing response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "total_pages": {
                      "type": "integer"
                    },
                    "successful_pages": {
                      "type": "integer"
                    },
                    "failed_pages": {
                      "type": "integer"
                    },
                    "pages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "content": {
                            "type": "string",
                            "description": "Extracted Markdown content."
                          },
                          "height": {
                            "type": "number"
                          },
                          "width": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "barcodes": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "signatures": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "processed_tables": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "image_metadata": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "total_pages": 2,
                  "successful_pages": 2,
                  "failed_pages": 0,
                  "pages": [
                    {
                      "content": "ACME CORPORATION\\nInvoice #INV-2024-001\\n...",
                      "height": 792.0,
                      "width": 612.0
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid input or missing parameters)"
          },
          "401": {
            "description": "Unauthorized (invalid or missing API key)"
          }
        }
      }
    },
    "/extract": {
      "post": {
        "summary": "Extract Structured Data by Schema",
        "description": "Extracts structured data from a PDF or image using a required schema. Accepts a file upload **or** a `fileUrl`.",
        "operationId": "extractSchema",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "PDF or image to upload (required if no fileUrl). Allowed: .pdf, .jpg, .jpeg, .png"
                  },
                  "fileUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "Publicly accessible URL of the file to process (required if no file)."
                  },
                  "schema": {
                    "type": "string",
                    "description": "Required schema definition describing the fields to extract."
                  },
                  "fast": {
                    "type": "boolean",
                    "default": false,
                    "description": "Fast path that extracts directly from pages without full pipeline post-processing."
                  },
                  "customContext": {
                    "type": "string",
                    "description": "Optional additional context or instructions to guide the extraction process. Useful for providing domain-specific guidance or clarifications about the document."
                  }
                },
                "required": [
                  "schema"
                ],
                "oneOf": [
                  {
                    "required": [
                      "file"
                    ]
                  },
                  {
                    "required": [
                      "fileUrl"
                    ]
                  }
                ]
              },
              "encoding": {
                "file": {
                  "contentType": "application/pdf,image/jpeg,image/png"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful schema extraction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Schema extracted successfully"
                    },
                    "response": {
                      "oneOf": [
                        {
                          "type": "object",
                          "additionalProperties": true
                        },
                        {
                          "type": "string",
                          "description": "May be a string depending on configuration."
                        }
                      ],
                      "description": "Model's structured output matching the provided schema."
                    },
                    "method": {
                      "type": "string",
                      "enum": [
                        "fast",
                        "slow"
                      ]
                    },
                    "pages_processed": {
                      "type": "integer",
                      "description": "Present in slow mode."
                    }
                  },
                  "required": [
                    "response"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request (missing file/fileUrl, missing schema, or unsupported file type)"
          },
          "401": {
            "description": "Unauthorized (invalid or missing API key for non-demo requests)"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "500": {
            "description": "Internal Server Error (schema extraction failed)"
          }
        }
      }
    },
    "/partition": {
      "post": {
        "summary": "Partition Document into Sections",
        "description": "Partition a document into logical sections using AI-powered classification based on user-provided queries. Automatically runs the full document processing pipeline first to ensure accurate text extraction before AI classification.",
        "operationId": "partitionDocument",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "PDF or image file to upload (required if no document_url). Allowed: .pdf, .jpg, .jpeg, .png"
                  },
                  "document_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Publicly accessible URL of the file to process (required if no file)."
                  },
                  "queries": {
                    "type": "string",
                    "description": "Required string containing array of PartitionQuery objects. Each query must have 'name' (section label) and 'description' (natural language hint for identifying pages)."
                  },
                  "start_page": {
                    "type": "integer",
                    "default": 1,
                    "minimum": 1,
                    "description": "Page number to start processing from."
                  }
                },
                "required": [
                  "queries"
                ],
                "oneOf": [
                  {
                    "required": [
                      "file"
                    ]
                  },
                  {
                    "required": [
                      "document_url"
                    ]
                  }
                ]
              },
              "encoding": {
                "file": {
                  "contentType": "application/pdf,image/jpeg,image/png"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful document partitioning",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "pages": {
                      "type": "array",
                      "description": "Array of page objects with extracted content",
                      "items": {
                        "type": "object",
                        "properties": {
                          "content": {
                            "type": "string",
                            "description": "Extracted text content from the page"
                          },
                          "page_number": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "partitions": {
                      "type": "array",
                      "description": "Array of partition results with classified page ranges",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The partition name from the query"
                          },
                          "description": {
                            "type": "string",
                            "description": "The partition description from the query"
                          },
                          "pages": {
                            "type": "array",
                            "description": "Array of page numbers that match this partition (sorted)",
                            "items": {
                              "type": "integer"
                            }
                          }
                        },
                        "required": [
                          "name",
                          "description",
                          "pages"
                        ]
                      }
                    }
                  },
                  "required": [
                    "success",
                    "pages",
                    "partitions"
                  ]
                },
                "example": {
                  "success": true,
                  "pages": [
                    {
                      "content": "ACME CORPORATION Annual Report...",
                      "page_number": 1
                    },
                    {
                      "content": "Financial Summary Table...",
                      "page_number": 2
                    }
                  ],
                  "partitions": [
                    {
                      "name": "cover_pages",
                      "description": "Title pages, cover sheets, or document headers",
                      "pages": [
                        1
                      ]
                    },
                    {
                      "name": "financial_data",
                      "description": "Pages with financial tables, revenue data, or numerical information",
                      "pages": [
                        2,
                        5,
                        6
                      ]
                    },
                    {
                      "name": "appendices",
                      "description": "Supporting documents, references, or supplementary materials",
                      "pages": [
                        7,
                        8,
                        9
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request (missing file/document_url, invalid queries, unsupported file type, or missing queries)"
          },
          "401": {
            "description": "Unauthorized (invalid or missing API key for non-demo requests)"
          },
          "500": {
            "description": "Internal Server Error (document partitioning failed)"
          }
        }
      }
    },
    "/compare": {
      "post": {
        "summary": "Compare Cardinal results against a baseline",
        "description": "Runs Cardinal extraction on a PDF or image and returns the standard processing payload **plus** a `dashboard_url` for the evals UI. Optionally include `original_results` to store side-by-side comparison data for the dashboard.",
        "operationId": "compareFile",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "PDF or image file to upload (required if no fileUrl). Allowed: .pdf, .jpg, .jpeg, .png"
                  },
                  "fileUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "Publicly accessible URL of the file to process (required if no file)."
                  },
                  "post_processing_on": {
                    "type": "boolean",
                    "default": true,
                    "description": "Enable advanced passes (e.g., barcode/signature detection)."
                  },
                  "start_page": {
                    "type": "integer",
                    "default": 1,
                    "minimum": 1,
                    "description": "Page number to start processing from."
                  },
                  "ephemeral": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true, results are not persisted; any generated assets are short-lived."
                  },
                  "showBoundingBox": {
                    "type": "boolean",
                    "default": false,
                    "description": "Include bounding box overlays for text blocks."
                  },
                  "markdown": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true, converts tables to Markdown (may be lossy); otherwise tables stay as HTML."
                  },
                  "boundingBoxesParagraphs": {
                    "type": "boolean",
                    "default": true,
                    "description": "If true, text boxes are grouped per paragraph; if false, per word."
                  },
                  "original_results": {
                    "type": "string",
                    "description": "Optional Markdown string containing baseline results to compare against (e.g., another vendor's OCR output). Stored for the evals dashboard alongside Cardinal results."
                  }
                },
                "oneOf": [
                  {
                    "required": [
                      "file"
                    ]
                  },
                  {
                    "required": [
                      "fileUrl"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful compare run. Returns standard processing fields plus a `dashboard_url` for the evals UI.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "dashboard_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Link to the evals dashboard view for this comparison."
                    }
                  },
                  "additionalProperties": true,
                  "description": "The response is the normal /process payload merged with { dashboard_url }."
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid input or missing parameters)"
          },
          "401": {
            "description": "Unauthorized (invalid or missing API key for non-demo requests)"
          },
          "500": {
            "description": "Internal Server Error (comparison processing failed)"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  }
}